{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head %}
{% block content %}
    <section id="contact" tabindex="-1" aria-label="Contact me">
      <h3>Contact Me</h3>
      <p>If you want to get in touch, send me a message!</p>
      <form id="contactForm" action="https://formspree.io/f/xnndzwvg" method="POST" aria-live="polite" role="form">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your full name" required aria-required="true" />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email address" required aria-required="true" />

        <label for="message">Message</label>
        <textarea id="message" name="message" rows="4" placeholder="Write your message here..." required aria-required="true"></textarea>

        <button type="submit">Send Message</button>
      </form>
    </section>
{% endblock %}