{% extends "base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/services.css' %}" />
{% endblock head %}
{% block content %}
  <main>
    <section class="services-section">
      <div class="container">
        <h1>Services I Provide</h1>
        <div class="service-list">
          <div class="service-card">
            <img src="/static/assets/services/Website_Development.jpg" alt="Web Development" height="400" width="250">
            <h2>Website Development</h2>
            <p>I build modern, responsive websites using Django and Bootstrap for individuals and businesses.</p>
          </div>
          <div class="service-card">
            <img src="/static/assets/services/web-development.jpg" alt="Web Application" height="400" width="250">
            <h2>Web Application Creation</h2>
            <p>From idea to deployment, I create full-stack web applications tailored to your needs using Python, Django, and JavaScript.</p>
          </div>
          <div class="service-card">
            <img src="/static/assets/services/Cloud-Integration.png" alt="Cloud Integration" height="400" width="250">
            <h2>Cloud Integration</h2>
            <p>I integrate AWS cloud services for backend storage, databases, and deployment to ensure scalability and performance.</p>
          </div>
        </div>

        <div class="github-link">
          <h3>Check Out My Work:</h3>
          <p><a href="https://github.com/Rahulmalu01?tab=repositories" target="_blank">GitHub Profile</a></p>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
